<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>News report {{_now}}</title>
    <style type="text/css">
    .entry h2:first-of-type  {
        font-size: 1.2em;
        background-color: gray;
        color: #fff;
    }
    .entry h2 {
        font-size: 1em;
    }
    .entry h3 {
        font-size: .8em;
        color: gray;
    }
    hr {
        border-top: 1px solid #8c8b8b;
    }
    </style>
</head>
<body>
<ol id="contents" class="contents">
{% for entry in entries %}
{% set anchor='entry'+loop.index|string %}
    <li><small>{{entry.date[11:16]}}</small> <a href="#{{ anchor }}">{{entry.title}}</a><br />{{ entry.firstSentence }}</li>
{% endfor %}
</ol>
{% for entry in entries %}
{% set anchor='entry'+loop.index|string %}
<div class="entry">
    <h2 id="{{ anchor }}">{{entry.title}}</h2>
    <h3>{{entry.date[0:16]}}</h3>

    {% for p in entry.content %}
    <p>{{ p.value }}</p>
    {% endfor %}

    <p><a href="{{entry.shareURL}}">Zur Meldung</a> <a href="#contents">&#8593 Top &#8593</a></p>
</div>
<hr>
{% endfor %}
</body>
</html>
